html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

Scroll Bar ::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.2);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}
/* pagina detalle */
.container-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 1rem auto;
}

.title-detail {
  width: 50%;
  font-size: 2.5em;
  color: #7e7b7b;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.detail {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.detail-container {
  width: 80%;
  display: block;
  align-items: center;
  height: max-content;
}

.detail-title {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.detail-title > span {
  font-size: 2rem;
  color: black;
  font-weight: 600;
}

.detail-image {
  width: 80%;
  margin: 0.5rem auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.container-data {
  display: grid;
  width: 94%;
  height: max-content;
  gap: 1rem;
  grid-auto-rows: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 10rem;
  padding: 1rem;
}

.container-data-item {
  width: 80%;
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.5rem;
  color: #000000;
}

.container-data > span {
  color: #000000;
  font-size: 20px;
}

.container-data-comment {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  -webkit-box-shadow: 0 4px 16px -6px #222;
  -moz-box-shadow: 0 4px 16px -6px #222;
  box-shadow: 0 4px 16px -6px #222;
}

.container-data-comment > span {
  width: 100%;
  margin: 0 auto;
  text-align: justify;
  padding: 0.2rem;
  -webkit-box-shadow: 0 2px 14px -4px #222;
  -moz-box-shadow: 0 2px 14px -4px #222;
  box-shadow: 0 2px 14px -4px #222;
}

/* estilos miga de pan  */
.container-bread {
  margin: 0 auto;
  display: flex;
  width: 90%;
  height: 4vh;
  justify-content: flex-start;
  padding-block: 0.4rem;
}

.list-bread {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.item-bread {
  color: rgb(0, 60, 255);
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
  margin-inline: 0.2rem;
}
.item-bread:hover {
  transform: translate(0px, -1px);
  transition: transform 0.5s, box-shadow 0.5s;
  cursor: pointer;
  text-decoration: none;
}
.item-bread-active {
  color: black;
  font-weight: 600;
  font-size: 18px;
  margin-left: 0.3rem;
}
/* estilos navbar */

nav {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 1rem 1rem;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.login-link {
  width: 10rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border-radius: 0.7rem;
  background-color: red;
}

/* pagina no encontrada */
.container_404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 68vh;
}

/* pagina de espera */

.center-loader {
  margin-left: auto;
  margin-right: auto;
  padding: 150px 0;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

/* menu principal */
.menu-container-none {
  width: 80%;
  margin: 0 auto;
}
.menu-container {
  width: 100%;
  margin: 0 auto;
}
.menu-container ul,
ol {
  list-style: none;
}
.list-menu {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.list-menu > li {
  float: left;
}

.list-menu li a {
  color: #000000;
  text-decoration: none;
  padding: 0.2rem 1rem;
  display: block;
}
.list-menu li a:hover {
  background-color: #ece5e5be;
}

.list-menu li a span {
  font-size: 12px;
  font-weight: 600;
}

.list-menu li ul {
  display: none;
  position: absolute;
  min-width: 2rem;
  max-width: 2rem;
  width: max-content;
}

.list-menu li:hover > ul {
  display: block;
}

.list-menu li ul li {
  display: flex;
  width: max-content;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: #fff8f8;
}
/* Componente search */
.search-home {
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 0.1rem;
}

.search {
  width: 50%;
  margin: 0 auto;
}

.search-title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.search form > input {
  width: 80%;
  height: 2.5rem;
  font-size: 18px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0.5rem 0.9rem;
  border: 1px solid rgb(120, 121, 121);
}

.search form > button {
  border: none;
  background-color: red;
  height: 2.5rem;
  width: 4rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container-buttons {
  width: 40%;
  height: 3rem;
  margin: 0.2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-inline: 0.5rem;
  border-radius: 0.8rem;
  background-color: rgba(90, 88, 88, 0.911);
}

.container-buttons label {
  color: white;
  width: 40%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 0 auto;
}
.button-search {
  width: 50%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid rgb(120, 121, 121);
  background: rgba(212, 211, 211, 0.349);
}

.button-search:hover {
  background-color: rgba(151, 144, 144, 0.438);
}
.button-search-active {
  width: 10rem;
  height: 2rem;
  padding: 0.2rem 1.5rem;
  border-radius: 0.4rem;
  border: 1px solid rgb(120, 121, 121);
  background-color: white;
  color: black;
}

.button-search-two {
  padding: 0.2rem 0.7rem;
  border-radius: 0.4rem;
  border: 1px solid rgb(120, 121, 121);
  background: rgba(212, 211, 211, 0.349);
}

.button-search-two:hover {
  background-color: rgba(151, 144, 144, 0.438);
}
.button-search-two-active {
  padding: 0.2rem 1.5rem;
  border-radius: 0.4rem;
  border: 1px solid rgb(120, 121, 121);
  background-color: white;
  color: black;
}

.span-search {
  font-size: 18px;
  font-weight: 400;
  color: white;
}
.span-search:hover {
  color: black;
}

.container-select {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}
.formSearch {
  display: flex;
  width: 90%;
  padding: 0.5rem 0.5rem;
  align-items: center;
  justify-content: center;
}

.inputSearch {
  width: 100%;
  height: 3rem;
  font-size: 18px;
  border-radius: 10px;
  padding: 0.5rem 0.9rem;
  border: 1px solid rgb(120, 121, 121);
}
.inputSearch:hover {
  border: 1px solid rgb(175, 12, 47);
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  width: 97%;
  margin: 1rem auto 0.5rem auto;
  min-height: 50vh;
  background-image: url("../public/images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  border-radius: 15px;
}

.banner-title {
  color: #fff;
  font-size: 50px;
  line-height: 1;
  font-family: serif;
  text-transform: capitalize;
  margin: 0 auto 20px;
  font-weight: 200;
  max-width: 30rem;
}

.cards {
  max-width: 95%;
  min-width: 90%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  border-radius: 15px;
  padding: 1rem 1rem;
}

.container-cards-title {
  width: 90%;
  margin: 0.5rem auto;
  color: #121212;
  font-size: 50px;
  font-family: serif;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

.container-cards {
  position: relative;
  display: grid;
  width: 94%;
  gap: 1rem;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  align-items: flex-end;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 10rem;
  z-index: 5;
  padding: 1rem;
}

.container-paginator {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}
.paginator {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: all 1s, box-shadow 5s;
}

.buttonNext,
.buttonPrev {
  width: 8rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  padding: 1rem;
  border-radius: 15px;
  margin: auto 2rem;
  cursor: pointer;
  background-color: rgba(209, 207, 207, 0.562);
  transition: all 1s, box-shadow 5s;
}

.number-page {
  width: 10rem;
  height: 2.5rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgb(163, 160, 160);
}
.container-card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.5s, box-shadow 0.5s;
}

.container-card:hover {
  transform: translate(0px, -10px);
  transition: transform 0.5s, box-shadow 0.5s;
  box-shadow: 0px 3px rgba(34, 34, 34, 0.2), -2px 0px rgba(34, 34, 34, 0.2);
  cursor: pointer;
}

.card-link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-image {
  margin: 0 auto;
  width: 22rem;
  height: 15rem;
  filter: brightness(70%);
}
.card-title {
  width: 70%;
  height: 2rem;
  margin: 0.4rem auto;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: black;
  border-radius: 0.7rem;
  background-color: rgba(209, 207, 207, 0.562);
}

@media (max-width: 768px) {
  .container-select {
    width: 100%;
    flex-direction: column;
    padding-inline: 0.3rem;
    gap: 0.3rem;
  }
  .menu-container-none {
    display: none;
  }
  .search-home {
    width: 100%;
    padding: 0.1rem 0.5rem;
  }

  .container-buttons {
    width: 90%;
    height: 3rem;
    margin: 0.1rem auto;
    gap: 0.1rem;
    padding-inline: 0.5rem;
  }

  .formSearch {
    padding: 0.2rem 0.1rem;
  }

  .inputSearch {
    height: 2.5rem;
    font-size: 16px;
  }

  .banner {
    width: 100%;
    min-height: 40vh;
    margin-top: 0.6rem;
  }

  .banner-title {
    color: #fff;
    font-size: 30px;
    margin: 0 auto 10px;
  }

  .cards {
    max-width: 100%;
    min-width: 90%;
    min-height: 60vh;
    margin: 0 auto;
    padding: 0.5rem 0.5rem;
  }

  .container-cards-title {
    width: 100%;
    margin: 0.2rem auto;
    color: #121212;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
  }

  .container-cards {
    gap: 0.5rem;
    grid-auto-rows: 11rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    padding-bottom: 0.5rem;
    padding: 0.5rem;
  }

  .card-image {
    width: 10rem;
    height: 8rem;
  }
  .card-title {
    display: flex;
    width: 100%;
    margin: 0.5rem auto;
    font-size: 13px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
  }
  .container-paginator {
    width: 100%;
    margin-top: 1.5rem;
  }
  .paginator {
    width: 100%;
    height: 90%;
  }
  .buttonNext,
  .buttonPrev {
    width: 8rem;
    height: 2rem;
    padding: 0.2rem;
    margin: auto 1rem;
  }

  .number-page {
    width: 10rem;
    height: 2rem;
    font-size: 1.1em;
  }

  .container-bread {
    width: 100%;
    padding: 0.1rem;
  }

  .item-bread {
    font-size: 12px;
    text-decoration: overline;
  }
  .item-bread-active {
    font-size: 12px;
    margin-left: 0.2rem;
  }

  .container-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 1rem auto;
  }

  .title-detail {
    width: 90%;
    font-size: 1.2em;
    margin-top: .1rem;
  }

  .detail {
    width: 100%;
    margin: 0 auto;
    padding: 0.2rem;
  }

  .detail-container {
    width: 100%;
    height: max-content;
  }

  .detail-title {
    width: 90%;
  }
  .detail-title > span {
    font-size: 1rem;
  }

  .detail-image {
    width: 100%;
    margin: 0.5rem auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    height: 15rem;
  }

  .container-data {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    width: 100%;
    gap: 0.6rem;
    padding: 0.5rem;
  }

  .container-data-item {
    width: 100%;
    height: 2.5rem;
    padding-left: 0.1rem;
  }

  .container-data > span {
    color: #000000;
    font-size: 12px;
  }
  .container-data-comment > span {
    padding: 0.4rem;
  }
}
